:root {
  /** colors */
  --color-name: tokyo;
  --color-bg-shade: #252A33;
  --color-bg-base: #1D2021;
  --color-bg-surface: #282828;
  --color-bg-highlight: #40495A;
  --color-fg-shade: #768CB2;
  --color-fg-base: #A6B4CD;
  --color-fg-surface: #D6DCE8;
  --color-fg-highlight: #FFFFFF;
  --color-primary-bg: #2C4948;
  --color-primary-base: #c0caf5;
  --color-primary-fg: #bb9af7;
  --color-secondary-bg: #25394C;
  --color-secondary-base: #4A7197;
  --color-secondary-fg: #8BA9C6;
  --color-palette-red: #f7768e;
  --color-palette-green: #9ece6a;
  --color-palette-yellow: #e0af68;
  --color-palette-blue: #7aa2f7;
  --color-palette-purple: #bb9af7;
  --color-palette-cyan: #b4f9f8;
  --color-palette-orange: #ff9e64;
  --color-link: #a9b1d6;
  
  /** general */
  --font-family: Quicksand;
  --font-size: 1;
  --display-image: block;

  /** surface */
  --surface-maxWidth: 1000px;
  --surface-shadow: 12px 12px 0px rgba(169, 177, 214, 0.3), 24px 24px 0px rgba(154, 165, 206, 0.3), 36px 36px 0px rgba(86, 95, 137, 0.3), 48px 48px 0px rgba(65, 72, 104, 0.3), 60px 60px 0px rgba(36, 40, 59);
  --surface-borderRadius: 0px;

  /** spacing */
  --space-smallest: 0.125rem;
  --space-small: 0.5rem;
  --space-medium: 1rem;
  --space-large: 1.5rem;
  --space-largest: 3rem;

  /** others */
  --picture-size: 300px;
  --group-count: 4;
}
